*{
	margin: 0;
	padding: 0;
}

div.img{
	margin-left: 40%;
	margin-top: 3.5%;
}

div.img img{
	width: 250px;
	height: 150px;
}

form{
	position: absolute;
	padding: 4%;
	margin-left: 33%;
	margin-top: 2%;
	border: 3px solid black;
	border-radius: 10px;
}
@media(max-width: 50em){
	form{
		margin-left: 3%;
		
	}
	div.img{
		margin-left: 15%;
		margin-top: 5%;
	}
	img{
		width: 200px;
		height: 100px;
	}
	
}

form div{
	font-size: 2em;
	font-family: cursive;
}

form div input{
	height: 30px;
	width: 300px;
	font-weight: bolder;
	background: lightyellow;
}

form div input:hover{
	background: red;

}

#log{
	background: red;
	width: 150px;
}

#log:hover{
	background: lightyellow;
}

form div.email,div.password{
	margin-top: 10%;
}

