*{
	margin: 0;
	padding: 0;
}
header{
	background: black;
	padding: 2%;
	text-align: center;
}
header nav a{
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.3em;
	color: deeppink;
	padding: 4%;
}
header nav{
	padding: 1%;
}
@media(max-width: 717px){
	nav{
		display: none;
	}
}
div#all{
	background:grey;
	margin-bottom: 2%;
}
div#projects{
	display: inline-block;
	width: 30%;
	padding: 2%;
	text-align: center;
}
div#projects a{
	color: red;
	font-size: 1.1em;
	text-decoration: none;
	padding: 2%;
}
@media(max-width: 925px){
	#projects a{
		display: list-item;
		list-style: none;
	}
}
div#greeting{
	display: inline-block;
	width: 60%;
	color: pink;
	text-align: center;
	font-size: 1.5em;
	padding: 2%;
}
#greetings{
	font-size: 2.5em;
	color: red;
}
@media(max-width: 770px){
	div#greeting{
		font-size: 1.2em;
	}
}
@media(max-width: 613px){
	div#greeting{
		font-size: 1em;
	}
}
div#picture{
	display: inline-table;
	width: 40%;
	height: 270px;
	background: brown;
	border: 3px solid black;
	border-radius: 15%;
	padding: 2%;
	text-align: center;
}
div#picture h1{
	text-decoration: underline;
}
div#picture ul{
	list-style: none;
	margin-top: 3%;
	font-size: 1.2em;
	color: white;
}
div#picture1{
	display: inline-table;
	width: 40%;
	height: 270px;
	background: brown;
	border: 3px solid black;
	margin-left: 2%;
	border-radius: 15%;
	padding: 2%;
	text-align: center;
}
footer{
	background:black;
	color: deeppink;
	padding: 2%;
	text-align: center;
		}
		.fa{
			padding: 20px;
			font-size: 30px;
			width: 50px;
			text-align: center;
			text-decoration: none;
			display: none;

		}
.fa-facebook{
	background:blue;
	color: white;
}