*{
			margin:0;
			padding:0;
		}
		
		div#contents{
			width: 100%;
			height: 100%;
		}
		
		div#search{
			margin-left: 10%;
			top: 25%;
			position: absolute;
			width: 50%;

		}
		div#search h2{
			margin-bottom: 2%;
			border: 2px dotted white;
			padding: 2%;
			display: inline-flex;
			background:black;
			color: white;
			opacity: 65%;
		}
		#search input{
			
			width: 300px;
			height: 30px;
		}
		
		div#header_contents{
			width:100%;
			height: 300px;
			/*background-image: url('../Assets/gamesgigl.png');*/
			background-color: yellow;
			background-position: center;
			background-size: 40em 20em;
			background-position: left;
							}
							div#header_contents img#second{
								float: right;
								background: white;
								height: 300px;
								width: 300px;
							}
							div#header_contents img#first{
								background: white;
								height: 300px;
								width: 300px
							}
		#search label{
			background: red;
			color: white;
			padding: 5px;
			font-size: 1.1em;
			margin-left: 0;
			position: absolute;

		}
		div#boxes{
			margin-top: 10%;
		}
		div#boxes h2{
			margin-bottom: 2%;
		}
		div#cont_1{
			background-image: url('../Assets/3.jpeg');
			background-position: center;
			background-size: 20em;
			display:inline-block;
			background-color: black;
			width: 230px;
			height: 200px;
			
		}
		div#cont_2{
			background-image: url('../Assets/4.jpg');
			background-position: center;
			background-size: 20em;
			display:inline-block;
			background-color: black;
			width: 230px;
			height: 200px;
			color: white;
		}
		div#cont_3{
			background-image: url('../Assets/Music.jpg');
			background-size: 18em;
			display:inline-block;
			background-color: black;
			width: 230px;
			height: 200px;
		}
		div#cont_4{
			background-image: url('../Assets/Programming.jpg');
			background-size: 15em;
			color: white;
			display:inline-block;
			background-color: black;
			width: 230px;
			height: 200px;
		}
		div#cont_5{
			background-image: url('../Assets/pattern.png');
			color: white;
			display:inline-block;
			background-color: black;
			width: 230px;
			height: 200px;
		}
@media(max-width: 1000px){
	div#search{
		top: 10%;
	}
	
		div#cont_1{
			display:inline-block;
			width: 400px;
			height: 400px;
			background-size: 38em;
			
		}
		div#cont_2{
			background-size: 30em;
			display:inline-block;
			width: 400px;
			height: 400px;
			
		}
		div#cont_3{
			margin-top: 8%;
			background-size: 38em;
			display:inline-block;
			width: 400px;
			height: 400px;
		}
		div#cont_4{
			background-size: 25em;
			display:inline-block;
			width: 400px;
			height: 400px;
		}
		div#cont_5{
			margin-top: 8%;
			background-size: 35em;
			display:inline-block;
			width: 400px;
			height: 400px;
		}
}
